<div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
        {{# if MatchCh}}
        <div class="alert alert-info" role="alert">
            {{# each Match}}
                {{this}}
            {{/each}}
        </div>
        {{/if}}
        <h4>Enter new password</h4>
        <form action='/user/reset/{{token}}' method='POST'>
            <div class='form-group'>
                <label for='new'>New password:</label>
                <input type='password' name='newPass' id='new' class='form-control' required autofocus></input>
            </div>
            <div class='form-group'>
                <label for='conf'>Confirm password:</label>
                <input type='password' name='confirm' id='conf' class='form-control' required></input>
            </div>
            <input type='hidden' name='_csrf' value='{{csrfToken}}'></input>
            <p id='match'></p>
            <button  class='btn btn-primary'>Update password</button>
        </form>
    </div>
</div>
<script type='text/javascript'>
var pass = document.querySelector('#new');
var conf = document.querySelector('#conf');
var match = document.querySelector('#match')

conf.addEventListener('keyup', function() {
    if(pass.value == conf.value) {
        match.textContent = 'Matched!'
        match.style.color = 'green'
    } else {
        match.textContent = 'did not match'
        match.style.color = 'red'
    }
})
</script>