<div class='row'>
    <div class='col-md-4 col-md-offset-4'>
         {{# if onCheck}}
         <div class='alert alert-danger'>
             {{# each check}}
             <p>{{this}}</p>
             {{/each}}
        </div>
        {{/if}}
        <h1>Sign In</h1>
        {{#if haserror}}
            <div class='alert alert-danger'>
                {{# each messages}}
                     <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action='/user/signin' method='post'>
            <div class='form-group'>
                <label for='email'>Email:</label>
                <input type='email' id='email' class='form-control' name='email'  placeholder='abc@gmail.com'></input>
            </div>
            <div class='form-group'>
                <label for='password'>Password:</label>
                <input type='password' id='password' class='form-control' name='password'  placeholder='password'></input>
            </div>
            <input type='hidden' name='_csrf' value='{{csrfToken}}'></input>
            <button class='btn btn-success btn-block'>Sign In</button>
        </form>
        <p>Don't have an account? sign up <a href='/user/signup'>here</a></p>
        <p><a href='/user/forgot'>forgot password</a></p>
    </div>
</div>