<div class='row'>
    <div class='col-md-4 col-md-offset-4'>
        <h1>Add Game</h1>
        <form action='/nyg201yy/addgame' method='post'>
          <div class='form-group'>
              <label for='img'>Image path:</label>
              <input type='text' id='img' name='image' class='form-control' require></input>
          </div>
          <div class='form-group'>
              <label for='title'>Title:</label>
              <input type='text' id='title' name='title' class='form-control' require></input>
          </div>
          <div class='form-group'>
              <label for='desc'>Description:</label>
              <input type='text' id='desc' name='desc' class='form-control' require></input>
          </div>
          <div class='form-group'>
              <label for='price'>Price:</label>
              <input type='text' id='price' name='price' class='form-control' require></input>
          </div>
          <button class='btn btn-block btn-primary'>Add</button>
        </form>
    </div>
</div>